# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Flask
instance/
*.db
*.sqlite3

# Migrations cache
migrations/versions/__pycache__/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db