services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      # локальная база (файл внутри контейнера)
      IS_DEV: "1"
      AUTO_CREATE_DB: "1"
      SOCKETIO_ASYNC_MODE: "eventlet"
      USE_EVENTLET: "1"
      PYTHONPATH: "."
      DATABASE_URL: "sqlite:////app/instance/local.db"
      SECRET_KEY: "dev-secret-key"
    volumes:
      # монтируем проект внутрь контейнера для живых правок
      - .:/app
      # отдельный volume под sqlite, чтобы не терялась при пересборке
      - swamp_instance:/app/instance
    env_file:
      - .env
    command: >
      sh -c "gunicorn -k eventlet -w 1 -b 0.0.0.0:8000 --timeout 120 run:app"

volumes:
  swamp_instance: