{% extends "base.html" %}

{% block title %}Лента{% endblock %}

{% block content %}
<h2>Общая лента</h2>
<div class="posts-list">
    {% for post in posts %}
    <div class="post-item">
        <div class="post-header">
    <div class="author-info">
        <img src="{{ post.author.avatar_url or 'https://api.dicebear.com/7.x/identicon/svg?seed=' + post.author.username }}" 
             alt="AV" class="post-avatar" referrerpolicy="no-referrer">
        
        <a href="{{ url_for('routes.user_profile', username=post.author.username) }}" class="author-name">
            <strong>{{ post.author.display_name or post.author.username }}</strong>
        </a>
    </div>

    <div class="post-meta">
        <small>{{ post.date_posted.strftime('%H:%M | %d.%m.%Y') }}</small>
        
        {% if current_user.is_admin or post.author == current_user %}
        <form action="{{ url_for('routes.delete_post', post_id=post.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn-delete" onclick="return confirm('Удалить этот пост?')">×</button>
        </form>
        {% endif %}
    </div>
</div>
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}